<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <p>
      <%= comment.post.user.name%>: 
      <%= comment.post.body %>
    </p>
    <h3><%= comment.body %></h3>    
    <hr>
  <% end %>
</div>