<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <h3><%= comment.body %></h3>
    <p>
      post:
      <%= comment.post.title %>
    </p>
    <hr>
  <% end %>
</div>