<%= form_with(model: @topic) do |form| %>
  <% if @topic.errors.any? %>
    <div style="color: red">

      <ul>
        <% @topic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <label style="display: block" for="topic_titulo">Titulo</label>
    <input type="text" name="topic[titulo]" id="topic_titulo"/>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>