/* Estilos para o rodapé */
footer {
  background-color: #1DA1F2; /* Cor de fundo igual ao cabeçalho */
  color: #fff; /* Cor do texto igual ao cabeçalho */
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para o texto do rodapé */
.footer-content p {
  margin: 10px 0;
}

/* Estilos para o símbolo de marca registrada */
.footer-content p::after {
  content: "®";
  color: #fff; /* Cor igual ao cabeçalho */
  margin-left: 5px;
  font-size: 14px; /* Ajuste o tamanho do símbolo conforme necessário */
}
