<div class="sidebar">
  <h2 class="sidebar-title">Assuntos em alta</h2>
  <ul class="topic-list">
    <% @topics_with_posts.each do |topic| %>
      <li class="topic-item">
        <%= link_to topic.titulo, topic_path(topic), class: "topic-link" %>
      </li>
    <% end %>
  </ul>
</div>