<div class="container">  
  
 <%= render "shared/topics" %>

<div class="main-content">
  <%= render "shared/posts" %>
</div>

<div class="sidebar">
    <%= render "shared/users" %>
</div>

</div>


 