.profile-image {
  width: 40px; /* Tamanho desejado */
  height: 40px; /* Tamanho desejado */
  border-radius: 50%; /* Isso tornará a imagem redonda */
  object-fit: cover; /* Garante que a imagem se ajuste ao espaço especificado */
}

.username {
  font-weight: bold; /* Adiciona negrito ao nome de usuário */
  color: #007bff; /* Define a cor do texto para azul (pode ajustar conforme desejado) */
}