<div class="topic-container">  
  
  
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <h4>As pessoas estão comentando</h4>
  <% @topic.posts.each do |post| %>
    <div class="post">
      <p class="post-user">@<%= post.user.name %></p>
      <p class="post-body"><%= post.body %></p>
    </div>
  <% end %>

  <div class="topic-actions">
    <%= link_to "Voltar", root_path, class: "btn" %>  
  </div>
</div>
