header {
  background-color: #1DA1F2;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.logo-image {
  width: 40px; /* Tamanho desejado */
  height: 40px; /* Tamanho desejado */
  border-radius: 50%; /* Isso tornará a imagem redonda */
  object-fit: cover; /* Garante que a imagem se ajuste ao espaço especificado */
}

.logo-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
  vertical-align: middle;
}

